.menu-down {
  &__button {
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: $text-size18;
    line-height: 21px;
    text-transform: uppercase;
    color: $color-black;
  }
  &__text {
    display: flex;
    align-items: center;
    span:last-child {
      display: flex;
      align-items: center;
      transition: 0.3s ease all;
    }
    .rotate {
      transition: 0.3s ease all;
      transform: rotate(180deg);
    }
  }
}
