.menu-down {
  &__button {
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: $text-size18;
    line-height: 21px;
    text-transform: uppercase;
    color: $color-black;
  }
  &__text {
    display: flex;
    align-items: center;
    span:last-child {
      display: flex;
      align-items: center;
      transition: 0.3s ease all;
    }
    .rotate {
      transition: 0.3s ease all;
      transform: rotate(180deg);
    }
  }
}

.menu-down2 {
  &__elem {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    &:active svg {
      transition: $effect;
      transform: rotate(180deg);
    }
  }
  svg {
    transition: $effect;
    path {
      fill: $color-for-button;
    }
  }
  h2 {
    color: $color-black;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
  }
}
