.input-type-one {
  width: 100%;
  border: none;
  border: 0.5px solid rgba(37, 37, 37, 1);
  height: 50px;

  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: rgba(37, 37, 37, 0.5);
}
