.about {
  margin-top: 100px;
  margin-bottom: 100px;
  &__title {
    font-weight: 300;
    font-size: $text-size20;
    line-height: 23px;
    color: #252525;
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 250px 1fr;
  }
  &__line {
    height: 100%;
    width: 1px;
    background-color: #252525;
    margin: 0px 35px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
  }
  &__locations {
    display: flex;
    gap: 0px 15px;
    flex-wrap: wrap;
    cursor: pointer;
  }
  &__subtitle {
    font-size: $text-size24;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $color-black;
    position: relative;
  }
  &__location {
    font-size: 1rem;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $color-black;
    opacity: 0.7;
    transition: $effect;
    &:hover {
      opacity: 1;
      transition: $effect;
    }
  }
}
