.breadCrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  a {
    text-decoration: none;
    color: $color-black;
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    text-transform: capitalize;
    transition: $effect;
  }
  a:hover {
    transition: $effect;
    color: $color-for-hover;
  }
  &__elem {
    display: flex;
    align-items: center;
  }
  &__svg {
    transform: rotate(270deg);
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      path {
        fill: $color-for-active;
      }
    }
  }
}
